.nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  background: #ffffff;
  /* position: absolute;
  top: -100%; */
  color: #002d72;
  font-weight: 600;
  -webkit-box-shadow: 0px 12px 15px 3px rgba(0, 45, 114, 0.3);
  box-shadow: 0px 12px 15px 3px rgba(0, 45, 114, 0.3);
  /* animation: nav 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; */
}

.application-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo {
  width: 12em;
}
/* 
@keyframes nav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
} */

.nav__menu-icon {
  margin-left: 2%;
}

.nav-ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-ul > a {
  margin: 0 4em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  color: #002d72;
}

.mobile-nav-icon {
  display: none;
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 12%;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: white;
}
.mobile-nav > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #002d72;
}

@media only screen and (max-width: 850px) {
  .logo {
    width: 8em;
  }
  .nav-ul a {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
    margin-right: 5%;
    cursor: pointer;
  }
  .mobile-nav {
    display: grid;
  }
}
