.nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  background: rgb(255, 255, 255, 0.9);
  position: absolute;
  top: -100%;
  color: #002d72;
  font-weight: 600;
  -webkit-box-shadow: 0px 12px 15px 3px rgba(0, 45, 114, 0.3);
  box-shadow: 0px 12px 15px 3px rgba(0, 45, 114, 0.3);
  animation: nav 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes nav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.nav__menu-icon {
  margin-left: 2%;
}

.nav > ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav > ul > li {
  margin: 0 4em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  color: #002d72;
}
