.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  /* border-radius: 0 0 35px 35px; */
  background: rgb(0, 45, 114, 0.7);
  position: fixed;
  -webkit-box-shadow: 0px 12px 15px 3px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 12px 15px 3px rgba(255, 255, 255, 0.75);
}

.nav__menu-icon {
  margin-left: 2%;
}

.nav > ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav > ul > li {
  margin: 0 4em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
}
