.missionstatement {
  border-top: 1px solid #002d72;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  justify-content: center;
  text-align: center;
}
.mission-header {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgba(11, 48, 104, 0.9);
  color: white;
}

.circle-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  text-align: center;
}

.circle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 100px;
  animation: border 3s infinite;
}
@keyframes border {
  0% {
    color: #002d72;
  }
  100% {
    color: black;
  }
}

.circle-icon {
  font-size: 2.7em !important;
}

.mission-text {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 670px) {
}
