.footer {
  height: 70vh;
  width: 100%;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer__icons {
  color: #000000;
  width: 33.25%;
  display: flex;
  border-bottom: 2px solid #000000;
  justify-content: space-evenly;
  cursor: pointer;
  animation: shine 2s infinite;
}
.facebook-icon {
  animation: shine1 2s infinite;
}
.instagram-icon {
  animation: shine2 2s infinite;
}
.twitter-icon {
  animation: shine3 2s infinite;
}

.linkedin-icon {
  animation: shine4 2s infinite;
}

@keyframes shine1 {
  0% {
    color: #000000;
  }
  25% {
    color: #002d72;
  }
  100% {
    color: #000000;
  }
}
@keyframes shine2 {
  0% {
    color: #000000;
  }
  50% {
    color: #002d72;
  }
  100% {
    color: #000000;
  }
}
@keyframes shine3 {
  0% {
    color: #000000;
  }
  75% {
    color: #002d72;
  }
  100% {
    color: #000000;
  }
}
@keyframes shine4 {
  0% {
    color: #000000;
  }

  100% {
    color: #002d72;
  }
}

.facebook-icon:hover {
  color: #002d72;
}
.instagram-icon:hover {
  color: #002d72;
}
.twitter-icon:hover {
  color: #002d72;
}
.linkedin-icon:hover {
  color: #002d72;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footer__contact,
.footer__personal {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 10em;
  font-size: 18px;
}
.footer__contact > h5,
.footer__personal > h5 {
  font-size: 22px;
  color: #002d72;
}

.footer__personal > ul > li,
.footer__contact > ul > li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #000000;
}
.footer__personal > ul,
.footer__contact > ul {
  display: grid;
  height: 100%;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  .footer__info {
    display: grid;
  }
  .footer__contact,
  .footer__personal {
    width: 100%;
  }
}
