.footer {
  position: relative;
  height: 50%;
  width: 100%;
  background: #002d72;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer__icons {
  margin-top: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  animation: shine 2s infinite;
}
.facebook-icon {
  animation: shine1 2s infinite;
}
.instagram-icon {
  animation: shine2 2s infinite;
}
.twitter-icon {
  animation: shine3 2s infinite;
}

.linkedin-icon {
  animation: shine4 2s infinite;
}

@keyframes shine1 {
  0% {
    color: white;
  }
  25% {
    color: #c49735;
  }
  100% {
    color: white;
  }
}
@keyframes shine2 {
  0% {
    color: white;
  }
  50% {
    color: #c49735;
  }
  100% {
    color: white;
  }
}
@keyframes shine3 {
  0% {
    color: white;
  }
  75% {
    color: #c49735;
  }
  100% {
    color: white;
  }
}
@keyframes shine4 {
  0% {
    color: white;
  }

  100% {
    color: #c49735;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-contact {
  color: white;
  margin-left: 3%;
  font-size: 1.2rem;
}

.footer-contact-header {
  font-size: 1.7rem;
  margin: 4% 0;
}
.footer-personal-header {
  font-size: 1.7rem;
  margin: 5% 0;
}

.footer-personal {
  color: white;
  text-align: right;
  margin-right: 5%;
  letter-spacing: 1.5px;
  line-height: 1.3rem;
}

.footer-personal-list-item {
  list-style: none;
  margin: 3% 0;
}
