.section-one {
  display: flex;
  background: #002d72;
}

.section-one-image-container {
  max-width: 50%;
}

.section-one-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-one-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
}

.section-one-header {
  font-size: 3.5rem;
  font-family: "Bauhaus 93" !important;
}

.section-one-sub-header {
  font-size: 1.4rem;
  margin: 5% 0;
}

.section-one-text {
  text-align: center;
  padding: 0 50px;
}

@media only screen and (max-width: 850px) {
  .section-one {
    flex-direction: column-reverse;
  }
  .section-one-img {
    width: 100%;
    margin: 5% 0;
  }
}
