* {
  padding: 0;
  margin: 0;
  font-family: "Myriad Pro";
}
@font-face {
  font-family: "Bauhaus 93";
  src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot");
  src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.svg#Bauhaus 93")
      format("svg");
}
@font-face {
  font-family: "Myriad Pro";
  src: url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.eot");
  src: url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f3b65bc5f78ed2b3748f81383222dd43.svg#Myriad Pro")
      format("svg");
}

body {
  overflow-x: hidden;
  background: whitesmoke;
}

.App {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.banner__title {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./Images/banner.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .banner__title {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .banner__title-auto-transport {
    font-size: 1rem;
  }
}

.banner__title-container {
  background: rgb(0, 53, 168, 0.6);
  width: 100%;
  position: absolute;
  top: 0.7%;
  padding: 2% 0;
}

.banner__title-text {
  text-align: center;
  font-size: 0.9rem;
}

.banner__title-auto-transport {
  font-size: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  animation-delay: 1s;
  animation-duration: 2.5s;
  text-align: center;
}

.banner__title > button {
  color: #39393a;
  height: 65px;
  width: 200px;
  margin-top: 7%;
  font-size: 22px;
  cursor: pointer;
}

/* Contact modal */

.footer-contact-button {
  position: fixed;
  z-index: 100;
  background: red;
  color: white;
  padding: 15px;
  min-width: 8%;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

/* Subheadline */

.sub__headline-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub__headline-container > p {
  color: #c49735;
  font-size: 3.2rem;
  text-align: center;
}

.sub__headline-box {
  margin-top: 7%;
  height: 10vh;
  width: 20%;
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 45, 114, 0.9);
  border: 1px solid #39393a;
  cursor: pointer;
  transition: ease-in-out 1s;
  z-index: 10;
}
.sub__headline-box:hover {
  width: 100%;
  font-size: 2.5rem;
  height: 15vh;
  border-top: 4px solid #39393a;
  border-bottom: 4px solid #39393a;
}

.application-app {
  text-align: center;
  font-size: 1.6rem;
  color: #002d72;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media only screen and (min-width: 1400px) {
  .animation-header {
    animation: header 1.6s ease-in-out forwards;
  }
} */

@keyframes header {
  from {
  }
  to {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
  }
}

/* gallery */

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
